.idea/
.vscode/
node_modules/
build/
tmp/
temp/
.env
.next/
envs/
frontend/.cache
frontend/.parcel-cache
new_frontend/.cache
new_frontend/.parcel-cache
new_admin/.cache
new_admin/.parcel-cache
.vagrant
venv
**/.terraform/*
*.tfvars
server/dist/*
server/.devspace
integration/dist/
cli/dist/*
e2e/test_server/dist/
wal_upload/dist/*
process/.devspace/*
**/.devspace/*
infra/config/out
infra/config/input
infra/global/global_bootstrap_env.sh
**/terraform_account_key.pem
**/bootstrap_env.sh
# Used during env bootstrap
infra/deploy/secrets
infra/config/secrets

frontend/dist/*
.direnv/*

.DS_Store

**/generated_backend.tf

infra/deploys/**/terraform_state
infra/deploys/**/.terraform
infra/deploys/**/outputs/*
infra/deploys/**/version_info.json
infra/config/local.json
infra/variables

infra/**/*.tfstate
infra/**/*.tfstate.backup
