name: Build and Push API image

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**'
      - 'infra/terraform/**'
  pull_request:
    branches: [ main ]
    paths:
      - 'backend/**'
      - 'infra/terraform/**'
  workflow_dispatch:

env:
  ECR_REPOSITORY: kubetalk-api
  AWS_PROFILE: github-actions

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}
          profile-name: ${{ env.AWS_PROFILE }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        env:
          AWS_PROFILE: ${{ env.AWS_PROFILE }}

      - uses: nixbuild/nix-quick-install-action@v30
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true
      
      - name: Build and push image to Amazon ECR
        run: |
          just infra-globals
          just backend-docker
