name: Build and Push Flake image

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/flake.yml'
      - './Dockerfile.flake'
      - 'flake.nix'
      - 'flake.lock'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/flake.yml'
      - './Dockerfile.flake'
      - 'flake.nix'
      - 'flake.lock'
  workflow_dispatch:

env:
  ECR_REPOSITORY: kubetalk-api

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      
      - uses: extractions/setup-just@v3
      
      - name: Install terraform
        uses: hashicorp/setup-terraform@v4
        with:
          terraform_version: 1.10.0

      - name: Build and push image to Amazon ECR
        run: |
          # Make profiles work
          aws configure set aws_access_key_id ${{ env.AWS_ACCESS_KEY_ID }} --profile kubetalk
          aws configure set aws_secret_access_key ${{ env.AWS_SECRET_ACCESS_KEY }} --profile kubetalk
          aws configure set aws_session_token ${{ env.AWS_SESSION_TOKEN }} --profile kubetalk
          just ci-flake-docker ${{ secrets.AWS_REGION }}
